<launch>

    <node name="tr_hat_bridge" pkg="tr_hat_bridge" type="tr_hat_bridge">
        <rosparam command="load" file="$(find tr_bringup)/config/servos.yaml" />
    </node>

    <node name="tr_control" pkg="tr_control" type="tr_control"/>

    <node name="tr_system" pkg="tr_bringup" type="tr_system"/>

</launch>